body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}
#screen {
  aspect-ratio: 16 / 9;

  display: grid;
  grid-template: 100% / 100%;
}
#game {
  grid-area: 1 / 1;

  display: grid;
  grid-template: 100% / 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(svg/baggrund-færdig.png);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}
#game_over {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #c90303 0%, #790909 100%);
  color: #ffffff;
}
#level_complete,
#start {
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
  color: #ffffff;
  overflow: hidden;
}
.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

#football1_sprite {
  width: 10%;
  position: absolute;
  top: 35%;
  left: 50%;
}

#golden1_sprite {
  width: 7%;
  position: absolute;
  top: 25%;
  left: 51%;
}
#bomb1_sprite {
  width: 9.5%;
  position: absolute;
  top: 12%;
  left: 50.9%;
}
#ligtning2_sprite {
  width: 4%;
  position: absolute;
  top: 0.02%;
  left: 53.5%;
}

#game_ui {
  position: relative;
  top: 2vw;
  right: 1vw;
  color: white;

  font-size: 2em;
  font-family: sans-serif;

  pointer-events: none;
}

#ball_image {
  width: 3%;
  position: absolute;
  top: 1%;
  left: 93.5%;
}

#ball_count {
  margin-left: 90%;
}

#life_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
}

#life_board img {
  width: 5%;
}
#health1 {
  width: 7%;
  position: absolute;
  top: 100%;
  left: 80%;
}
#health2 {
  width: 7%;
  position: absolute;
  top: 100%;
  left: 86%;
}
#health3 {
  width: 7%;
  position: absolute;
  top: 100%;
  left: 92%;
}

.ball_image {
  filter: drop-shadow(0 0 10px blue);
}

.whole_heart {
  filter: drop-shadow(0 0 2px blue);
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
